name: CI Pipeline
on: 
  push: 
      branches: 
              - main

jobs:
  bulid: 
      runs-on: ubuntu-latest
steps:
- name: Checkout code
  uses: actions/checkout@v3
  
- name: Set up Python
  uses: actions/setup-python@v4
with:
python-version: 3.9'
- name: Install dependencies
  run: 1
  python pip Install-upgrade pip
  pip install requirements.txt
  
- name: Run application
run: python app.py
